%h2
  #{@episode.presenter.name}
%form{:action => '/edit-date/', :method => 'POST'}
  %input{:type => 'hidden', :name => 'id', :value => @episode.id}
  %p
    %label{:for => 'date'} Date:
    %input{:type => 'text', :name => 'date', :id => 'date',
           :placeholder => (@episode.date || '2000-01-01'), :size => 10}
%form{:action => '/edit-presenter/', :method => 'POST'}
  %input{:type => 'hidden', :name => 'id', :value => @episode.id}
  %p
    %label{:for => 'presenter'} Presenter:
    %select{:name => 'presenter', :id => 'presenter'}
      - Presenter.all.each do |presenter|
        %option{:value => presenter.id,
                :selected => (presenter == @episode.presenter)}
          = presenter.name
    %input{:type => 'submit', :value => 'Edit'}
%ol.playlist-tracks
  - @episode.playlist_tracks.each do |pt|
    %li= haml :_playlist_track, :layout => false, :locals => {:playlist_track => pt}
