%ol
  %li
    %a{:href => '/episode/all/'} All episodes
  %li
    %a{:href => '/episode/missing-date/'} Episodes missing dates
  %li
    %a{:href => '/episode/missing-playlist/'} Episodes missing playlists
  %li
    %a{:href => '/episode/missing-presenter/'} Episodes missing presenters
  %li
    %a{:href => '/artist/all/'} All artists
  %li
    %a{:href => '/artist/contains-album/'} Artists with album in their name
  %li
    %a{:href => '/album/all/'} All albums
  %li
    %a{:href => '/album/contains-taken-from/'} Albums with taken from in their name
  %li
    %a{:href => '/album/renameable/'} Albums that are automatically renameable
