%ol
  %li
    %a{:href => '/episodes/all/'} All episodes
  %li
    %a{:href => '/episodes/missing-date/'} Episodes missing dates
  %li
    %a{:href => '/episodes/missing-playlist/'} Episodes missing playlists
  %li
    %a{:href => '/episodes/missing-presenter/'} Episodes missing presenters
  %li
    %a{:href => '/artists/all/'} All artists
  %li
    %a{:href => '/artists/contains-album/'} Artists with album in their name
  %li
    %a{:href => '/albums/all/'} All albums
  %li
    %a{:href => '/albums/contains-taken-from/'} Albums with taken from in their name
  %li
    %a{:href => '/albums/renameable/'} Albums that are automatically renameable
