.prev-next
  - if (prev = range.min - 1) > DATES.min
    %a.prev{:href => "/#{prev.strftime(format)}/"}<
      &#8656;
      = prev.strftime(text_format)
  - if (nxt = range.max + 1) <= DATES.max
    - if prev > DATES.min
      |
    %a.next{:href => "/#{nxt.strftime(format)}/"}<
      = nxt.strftime(text_format)
      &#8658;
