%h2
  #{@episode.id} - #{@episode.presenter.name}
%ol
  - @episode.playlist_tracks.each do |playlist_track|
    %li
      = playlist_track.track.name
      \-
      = playlist_track.artists.map {|a| a.name }.join(', ')
