!!!
%html
  %head
    %title Late Junction playlists
  %body
    %h1 Late Junction playlists
    %ol
      %li
        %a{:href => '/episodes/all/'} All episodes
      %li
        %a{:href => '/episodes/missing-date/'} Episodes missing dates
      %li
        %a{:href => '/episodes/missing-playlist/'} Episodes missing playlists
      %li
        %a{:href => '/episodes/missing-presenter/'} Episodes missing presenters
      %li
        %a{:href => '/artists/contains-album/'} Artists with album in their name
