!!!
%html
  %head
    %title Late Junction playlists
  %body
    %h1 Late Junction playlists
    %ol
      %li
        %a{:href => '/all-episodes/'} All episodes
      %li
        %a{:href => '/missing-date/'} Episodes missing dates
      %li
        %a{:href => '/missing-playlist/'} Episodes missing playlists
      %li
        %a{:href => '/missing-presenter/'} Episodes missing presenters
