= haml :_prev_next, :layout => false,
         :locals => {:format => '%Y/%m', :text_format => '%B %Y',
                     :range => @range}
= haml :_calendar, :layout => false,
         :locals => {:episodes => @episodes, :first => @range.first}
%h2 About
:kramdown
  [Late Junction](http://www.bbc.co.uk/programmes/b006tp52) is a programme on
  [BBC Radio 3](http://www.bbc.co.uk/radio3) that has been running since 1999.

  The BBC have archived playlists going back to
  [2004](http://www.bbc.co.uk/radio3/latejunction/pip/archive/?2004), either in
  plain text (for older episodes) or a more structured format recently. This
  mini-site is an archive of all of those playlists, parsed into a common
  format.

  There's no particular reason for this, I just thought it would be fun! If you
  find any issues (there will be many, many issues, both due to irregularities
  in the way these have been displayed on the web page, as well as my own
  mistakes), please [let me know](http://sean.mcgivern.me.uk/#contact).

  Two technical notes: the colours for presenters are Set3 taken from the
  fantastic [Colorbrewer](http://colorbrewer2.org/), and the source is available
  on GitHub at
  [smcgivern/late-junction-playlists](https://github.com/smcgivern/late-junction-playlists).
