!!!
%html
  %head
    %title= @page_title
    %link{:href => '/style.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %h1
      - if @title_link
        %a{:href => @title_link}= @page_title
      - else
        = @page_title
    = yield
