$body-font: "Palatino Linotype", "Palatino", "URW Palladio L", "Book Antiqua", "Baskerville", "Bitstream Charter", "Garamond", "Georgia", serif;

$header-font: "Gill Sans", "Gill Sans MT", "GillSans", "Calibri", "Trebuchet MS", sans-serif;

body, input, select {
  font-family: $body-font;
  color: #000;
  background: #fff;
}

body {
  font-size: 105%;
  margin: 0em auto;
  padding: 0em 1em;
  max-width: 50em;
  line-height: 1.6;
}

input, select {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  text-align: center;
  clear: both;
}

:link, :link:active, :link:hover, .click {
  color: #0000ff;
  background: transparent;
  cursor: pointer;
  text-decoration: underline;
}

:link:visited {
  color: #800080;
  background: transparent;
}

.colour {
  :link, :link:active, :link:hover, :link:visited, .click {
    text-decoration: none;
  }
}

.presenter-list {
  list-style: none;
  text-align: center;
  padding: 0em;
  margin: 0em;

  li {
    width: 12em;
    margin: 0.2em 0.1em;
    display: inline-block;

    h3, p {
      margin: 0.5em;
    }
  }
}

.calendar {
  margin: 0em auto;
  border-collapse: collapse;

  caption {
    border: 1px solid #000;
    border-bottom: none;

    h3 {
      margin: 0.2em;
    }
  }

  th, td {
    border: 1px solid #000;
    margin: 0em;
  }

  th {
    text-align: center;
    font-weight: bold;
  }

  td {
    width: 5em;
    vertical-align: top;
    padding: 0.2em;

    .date {
      text-align: right;
      font-size: 110%;
      font-weight: bold;
    }

    .presenter {
      float: left;
      font-size: 80%;
      min-height: 3em;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.mini-calendars {
  text-align: center;

  .calendar {
    margin: 0.2em;
    display: inline-block;

    caption, th, td {
      border: none;
    }

    td {
      width: auto;

      .date {
        font-size: 100%;
        font-weight: normal;
        text-align: center;
        min-height: 2em;
      }
    }
  }
}

.prev-next {
  text-align: center;
}

.colour-0 {
  color: inherit;
  background: #8dd3c7;
}

.colour-1 {
  color: inherit;
  background: #ffffbc;
}

.colour-2 {
  color: inherit;
  background: #bebada;
}

.colour-3 {
  color: inherit;
  background: #fb8072;
}

.colour-4 {
  color: inherit;
  background: #80b1d3;
}

.colour-5 {
  color: inherit;
  background: #fdb462;
}

.colour-6 {
  color: inherit;
  background: #b3de69;
}

.colour-7 {
  color: inherit;
  background: #fccde5;
}

.colour-8 {
  color: inherit;
  background: #d9d9d9;
}

.colour-9 {
  color: inherit;
  background: #bc80bd;
}

.colour-10 {
  color: inherit;
  background: #ccebc5;
}

.colour-11 {
  color: inherit;
  background: #ffed6f;
}
